.navigation-panel {
  margin: 0;
  padding: 0;

  .active {
    color: #eee;
    pointer-events: none;
    box-shadow: inset 0 -2px #eee;
  }

  li {
    display: inline-block;
    color: #fff;
    padding-left: 20px;
    cursor: pointer;
    height: 40px;

    &:first-child {
      padding-left: 0;
    }
  }
}